<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="images/BAL.png" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/balr.css" />
    <script src="js/balj.js" type="text/javascript"> 
    </script>
</head>
<body >
    <!-- header section starts here-->
    <header >
        <div id="ballo">
            <div id="balloresize"> 
                <picture>
                    <source srcset="../images/BAL_300.png" media="(max-width: 1200px)">
                    <source srcset="../images/BAL_700.png" media="(max-width: 800px)">
                    <source srcset="../images/BAL_1000.png" media="(max-width: 500px)">
                    <source srcset="../images/BAL_2000.png" media="(max-width: 470px)">
                    <img src="images/BAL.png" alt="" id="balloicresize">
                </picture>
                 
            </div>
            <h2>Black Anthem LTD</h2> 
        </div>
        
        
        <div id="menus">
            <div onclick= "myFunction()" class="icir ">
                <img src="images/bmenu icon.png" alt="menu" class="icimg">
            </div>
            <div class="menuitems">
                <div id="home" class="men all">
                    <a href="https://www.blackanthemltd.site/"><h3>HOME</h3></a>
                </div>
                <div id="aut" class="menu all">
                    <a href="https://www.blackanthemltd.site/About"><h3>ABOUT</h3></a>
                </div>
                <div id="proj" class="menu all">
                    <a href="https://www.blackanthemltd.site/Projects"><h3>PROJECTS</h3></a>
                </div>
                <div id="raq" class="menul menu all">
                    <a href="https://www.blackanthemltd.site/RAQ"><h3>REQUEST A QUOTE</h3></a>
                </div>
            </div>
        </div>
    </header>
    <!-- ends here-->

    <!-- start of the slider section-->
    <main onclick="hideNav()"> 
    <div class="slideshow-container">
        <div class="slideshow-inner">
          <div class="mySlides fade">
        
            <img  src='images/dam-and-irrigation2 (1).jpg' style='width: 100%;' alt="sally lightfoot crab"/>
            <div class="text">
                <h3>Providing an eco-friendly environment</h3>
                <h3 class="lmb"><a href="https://www.blackanthemltd.site/Projects" style="color:white;">View Projects</a></h3>
            </div>
          </div>
        
          <div class="mySlides fade">
        
            <img  src='images/construction.png' style='width: 100%;' alt="fighting nazca boobies"/>
            <div class="text">
                <h3>Trusted construction and development</h3>
                <h3 class="lmb"> <a href="https://www.blackanthemltd.site/Projects" style="color:white;">View Projects</a></h3>
            </div>
          </div>
        
          <div class="mySlides fade">
        
            <img  src='images/large_Oil-Refinery.jpg' style='width: 100%;' alt="otovalo waterfall"/>
            <div class="text">
                <h3>Providing quality petroleum solutions</h3>
                <h3><b>Energy</b></h3>
                <h3>is the beginning of all</h3>
                <h3 class="lmb"> <a href="https://www.blackanthemltd.site/Projects" style="color:white;">View Projects</a></h3>
            </div>
          </div>
        
        
          <a class="prev" onclick='plusSlides(-1)'>&#10094;</a>
          <a class="next" onclick='plusSlides(1)'>&#10095;</a>
        </div>
        <br/>
        
        
        <div style='text-align: center;'>
          <span class="dot" onclick='currentSlide(1)'></span>
          <span class="dot" onclick='currentSlide(2)'></span>
          <span class="dot" onclick='currentSlide(3)'></span>
        </div>
        
        </div>
    <!-- ends here-->

    <!-- start of the three column section-->

    <div class="tcs">
        <div class="asect">
            <h1>ABOUT OUR COMPANY</h1>
            <div id="ams">
                <div class="emptydiv"></div>
                <h3 id="dts">Black Anthem Ltd is an indigenous company established since 2003 to deliver...</h3>
            </div>
            <div class="rmb"><a href="https://www.blackanthemltd.site/About">Read More</a></div>
        </div>
        <div class="isds">
            <div class="isdsinner">
                <div class="img fade">
                    <img src="images/construction.png" alt="">
                </div>
                <div class="img fade">
                    <img src="images/dam-and-irrigation2 (1).jpg" alt="">
                </div>
                <div class="img fade">
                    <img src="images/feasibility-study.png" alt="">
                </div>
                <div class="img fade">
                    <img src="images/large_Oil-Refinery.jpg" alt="">
                </div>
                <div class="img fade">
                    <img src="images/pm.jpg" alt="">
                </div>
                <div class="img fade">
                    <img src="images/port-facilities.jpg" alt="">
                </div>

    
                    <!-- Next and previous buttons-->
                <a class="prev2" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next2" onclick="plusSlides(1)">&#10095;</a>
    
                <br>
                <span>
    
                <!-- The dots/circles-->
    
                <div class="cent" style = "text-align: center;">
                    <span class="dot2" onclick="currentSlide(1)"></span>
                    <span class="dot2" onclick="currentSlide(2)"></span>
                    <span class="dot2" onclick="currentSlide(3)"></span>
                    <span class="dot2" onclick="currentSlide(4)"></span>
                    <span class="dot2" onclick="currentSlide(5)"></span>
                    <span class="dot2" onclick="currentSlide(6)"></span>
                </div>
                </span>
            </div>
        </div>
    
        <div class="loservs">
            <h1>WHAT WE CAN OFFER</h1>
            <div class="lot">
                Civil Engineering and consultancy
            </div>
            <div class="lot">
                Downstream Oil and Gas
            </div>
            <div class="lot">
                Procurement and Contracting services
            </div>
            <div class="lot">
                Project Management
            </div>
            <div class="lot">
                <a href="https://www.blackanthemltd.site/Portfolio" class="bage" style="color:white;"> Request a quote </a>
            </div>
        </div>
    </div>
    <!--End of three column section-->

    <div id="emptysect">

    </div>

    <!--subscribe to our newsletter section start-->
    <div class="subsect">
        <div id="subtxt">
            <h1>Subscribe to our Newsletter!</h1>
        </div>
        <div id="subform">
            <form action="/create" method="POST">
                <div class="ol"><div class="nam" >Name</div><div id="rsik">*</div></div>
                <div class="sd ssd"><input type="text" name="fname" placeholder="First" id="fn">
                <input type="text" name="lname" placeholder="Last" id="ln" ></div>
                <div class="ol"><div class="nam" >E-mail</div><div id="rsik">*</div></div>
                <div class="sd"></span><input type="email" name="email" placeholder="john@example.com" id="email"></div></br>
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>
    <!-- end -->

    <!-- Footer 1 section starts here -->

    <div id="ftr1">
        <div class="socsect">
            <div class="ql"><h3>Quick Links</h3></div>
            <div class="smh">
                <div class="socrez">
                    <a href="https://www.facebook.com"><img src="images/facebook icon.png" class="soicrez" alt=""></a>
                </div>
                <div class="socrez sp">
                    <a href="https://www.instagram.com"><img src="images/instagram-logo-png-transparent-background-1024x1024.png" class="soicrez" alt=""></a>
                </div>
                <div class="socrez sp">
                    <a href="https://www.twitter.com"><img src="images/twitter.png" class="soicrez" alt=""></a>
                </div>
            </div>
        </div>
        <div class="git">
            <h1><b>Get In Touch</b></h1>
            <div id="tel" class="row">
                <div class="telimg">
                    <img src="images/telicn.png" alt="telicn">
                </div>
                <h4>+234803212378</h4>
            </div>
            <hr>
            <div id="mailicn" class="row">
                <div class="mailimg">
                    <img src="images/mailicn.png" alt="mailicn">
                </div>
                <h4>info@blackanthemltd.com</h4>
            </div>
            <button type="submit"><a href="https://www.blackanthemltd.site/RAQ">Request a Quote</a></button>
        </div>
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=Silver%20crescent,%20Jakande%20estate,%20Isolo,%20Lagos%20State&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/">divi discount</a>
                <br>
                <style>.mapouter{position:relative;text-align:right;height:300px;width:400px;}</style>
                <a href="https://www.embedgooglemap.net">map iframe</a>
                <style>.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:400px;}</style>
            </div>
        </div>
    </div>
    
    <!--ends here-->

    <!--Footer2 begins here-->

    <div class="ftr2">
        <div class="cywgt">
            <h4>copywright&copy;2021 final year project</h4>
        </div>
        <div class="ftrmenu">
            <div id="home" class="ftrmenuop">
                <a href="https://www.blackanthemltd.site/"><h3>HOME</h3></a>
            </div>
            <div id="aut" class="ftrmenuop">
                <a href="https://www.blackanthemltd.site/About"><h3>ABOUT</h3></a>
            </div>
            <div id="serv" class="ftrmenuop">
                <a href="https://www.blackanthemltd.site/Projects"><h3>PROJECTS</h3></a>
            </div>
        </div>
    </div>
    </main>
    <!--ends here-->
</body>
</html>