<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe successful</title>
</head>
<body>
    <H1> Congratulations! You are have successfully subscribed.</H1>
    <h3>Click the link below to go back to the home page</h3>
    <a href="https://www.blackanthemltd.site">Go back to home page</a>
</body>
</html>