<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe successful</title>
</head>
<body>
    <H1> Your qoute has been received you will receieve an email shortly</H1>
    <a href="https://www.blackanthemltd.site/RAQ">Go back</a>
</body>
</html>